*.lcov
*.tgz
*.tsbuildinfo
.DS_Store
.cache
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.eslintcache
.idea
_.log
coverage
dist
files.*.xml
logs
node_modules
out
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
